*, html, body{
  margin: 0px;
  padding: 0px;
}
#root{
  display: flex;
  flex-direction: row;
  margin:0px;
  padding: 0px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  background-color: #1b1b1b;
  height: 1000px;
  margin: 0px;
  color: #e1e1e1;
}
a{
  text-decoration: none;
  color: #1b1b1b;
}
.sidebar a{
  color: #e1e1e1 !important;
  font-size: 20px;
  padding: 10px 20px;
  margin-left: 15px;
  transition: all 0.3s;
}
.sidebar a:hover{
  font-size: 22px;
  background-color: #2e2e2e;
  border: #2e2e2e;
  border-radius: 10px;
}
.sidebar h3{
  padding: 15px;
  font-size: 25px;
}
.login{
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #c4c4c4;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
}
.login input{
  width: 300px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 10px 5px;
}


button{
  padding: 8px 12px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 3px solid #000;
  border-radius: 30px;
  cursor: pointer;
  margin: 0px 2px;
}

.login button{
  width: 70px;
  margin: 5px auto;
  padding: 5px 2px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
.login button:hover{
  background-color: #fff;
  color: #000;
}
.login p{
  margin: 1px auto;
  transition: all 0.3s;
}
.login p a:hover{
  color:#e1e1e1;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.top .searchBar{
  padding: 10px;
  padding-right: 30px;
  margin: 10px 30px;
}
.top .searchBar input{
  width: 500px;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 3px;
  border: 1px solid #acacac;
  border-radius: 30px;
  font-size: 18px;
}
.top .add button{
  font-size: 16px;
  padding: 10px 15px;
  margin: 30px;
  background-color: #000;
  color: white;
  border: 3px solid #000;
  border-radius: 30px;
  cursor: pointer;
}
.add-product{
  height: 500px;
}
.add-product .input-fields{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  margin: 30px 80px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  gap: 10px;
}
.add-product .input-fields div{
  flex: 25%;
}
.add-product .input-fields div input{
  font-size: 17px;
  padding: 5px 15px;
  border: 1px solid #acacac;
  border-radius: 30px;
}
.add-product .input-fields div span{
  padding: 5px 0px;
  font-size: 15px;
}
.add-product .buttons{
  display: flex;
  float: right;
  column-gap: 10px;
  padding: 10px;
  margin: 10px;
  margin-left: 500px;
  margin-right: 150px;
}
.add-product .buttons button{
  padding: 8px 15px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 3px solid #000;
  border-radius: 30px;
  cursor: pointer;
}
.products {
  width: 950px;
  margin: 10px 100px;
}
.products table{
  width: 100%;
}
.products table thead{
  font-size: 15px;
  background-color: black;
  color: white;
}
.products table thead th {
  padding: 10px 0px;
}
.products table tbody tr td{
  font-size: 15px;
  padding: 10px 0px;
  text-align: center;
}

.products table tbody tr td input{
  width: 35%;
  font-size: 15px;
  padding: 5px 15px;
  margin:auto;
  border: 1px solid #acacac;
  border-radius: 20px;
}

.products table tbody tr td button{
  font-size: 12px;
  padding: 5px 8px;
  margin: 2px 0px;
}

.products table tbody tr:nth-child(2n) td{
  background-color: #f1efef;
}
.products table tbody tr:nth-child(2n+1) td{
  background-color: #dfdfdf;
}
.no-prod{
  width: 100%;
  text-align: center;
  background-color: #f1efef;
  font-size: 18px;
  padding: 10px 0px;
}

.import {
  float: right;
  margin: 10px 0px;
  margin-right: 100px;
}

.customerField{
  display: flex;
  margin: 10px 100px;
  gap: 50px;
}
.customerField select{
  border: 1px solid #acacac;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.customerField .new-customer{
  width: 800px;
  display: flex;
}

.customerField .new-customer input{
  font-size: 15px;
  padding: 5px 15px;
  border: 1px solid #acacac;
  border-radius: 30px;
  width: 100px;
  margin-right: 10px;
}
.customerField .new-customer button{
  font-size: 10px;
}

.search .searchBar input{
  font-size: 15px;
  padding: 10px 15px;
  margin-right: 10px;
  width: 400px;
  border: 1px solid #acacac;
  border-radius: 20px;
}
.search .searchResults{
  background-color: #fff;
  position: relative;
  width: 400.5px;
  border: 1px solid #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: none;
  margin-top: 0px;
  padding: 10px 15px;
  max-height: 55px;
  overflow-y: auto;
  background-color: #fff;
}

.search .searchResults::-webkit-scrollbar {
  width: 12px;
}

.search .searchResults::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0, 0.1);
  border-radius: 10px;
}

.search .searchResults::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

.search .searchResults .searchLine{
  font-size: 20px;
  padding: 5px 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.search .searchResults .searchLine:hover{
  background-color: rgb(47, 154, 224);
  color: #fff;
}

.search .searchResults .no-search {
  font-size: 20px;
  padding: 10px 5px;
}

.add-order .buttons{
  float: right;
  margin: 10px 150px;
}
 .top-order {
  float: right;
  height: 70px;
  width: 1200px;
  margin: 10px auto;
 }
 .top-order .add {
  float: right;
  margin-right: 150px;
 }

 .search .searchBar{
  width: 700px;
 }

.prescription {
  margin: 10px 60px;
}
.prescription table{
  width: 100%;
}
.prescription table thead{
  font-size: 10px;
  background-color: #2a2c8f;
  color: white;
}
.prescription table thead th {
  padding: 5px 0px;
}
.prescription table tbody tr td{
  font-size: 10px;
  padding: 5px 0px;
  text-align: center;
}

.prescription table tbody tr:nth-child(2n) td{
  background-color: rgb(160, 160, 255);
}
.prescription table tbody tr:nth-child(2n+1) td{
  background-color: #c3c4ff;
}
.background{
  padding: 50px 0px;
  width: 100%;
  background-color: #fff;
}

.background .pid{
  text-align: center;
}

.background .totals{
  float: right;
}

.background .customer{
  float:left;
}

.background .customer,
.background .other,
.background .totals{
  margin: 50px 100px;
}

.background .others p{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.background .customer p,
.background .totals p{
  margin: 5px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.background .customer p span,
.background .other p span,
.background .totals p span{
  color: #000;
}

.order-product {
  margin: 10px 100px;
}
.order-product table{
  width: 100%;
}
.order-product table thead{
  font-size: 15px;
  background-color: black;
  color: white;
}
.order-product table thead th {
  padding: 10px 0px;
}
.order-product table tbody tr td{
  font-size: 15px;
  padding: 10px 0px;
  text-align: center;
}

.order-product table tbody tr td input{
  width: 35%;
  font-size: 15px;
  padding: 5px 15px;
  margin:auto;
  border: 1px solid #acacac;
  border-radius: 20px;
}

.order-product table tbody tr td button{
  font-size: 12px;
  padding: 5px 8px;
}

.order-product table tbody tr:nth-child(2n) td{
  background-color: #f1efef;
}
.order-product table tbody tr:nth-child(2n+1) td{
  background-color: #dfdfdf;
}
.background .other{
  float: right;
}
.background .top{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.barcode {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.barcode .details{
  width: 80px;
  padding: 20px 0px;
}

.barcode .main{
  padding: 15px 0px;
  text-align: center;
}

.barcode .main svg {
  width: 100px !important;
  height: 50px !important;
}

.signatures {
  float: right;
  margin-top: 100px;
  margin-right: 100px;
}

.signatures div {
  border-top: 1px solid #000;
  margin: 50px 0px;
  padding: 5px 30px;
}
