*, html, body{
  margin: 0px;
  padding: 0px;
}
#root{
  display: flex;
  flex-direction: row;
  margin:0px;
  padding: 0px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  background-color: #1b1b1b;
  height: 1000px;
  margin: 0px;
  color: #e1e1e1;
}
a{
  text-decoration: none;
  color: #1b1b1b;
}
.sidebar a{
  color: #e1e1e1 !important;
  font-size: 20px;
  padding: 10px 20px;
  margin-left: 15px;
  transition: all 0.3s;
}
.sidebar a:hover{
  font-size: 22px;
  background-color: #2e2e2e;
  border: #2e2e2e;
  border-radius: 10px;
}
.sidebar h3{
  padding: 15px;
  font-size: 25px;
}
.login{
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #c4c4c4;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
}
.login input{
  width: 300px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 10px 5px;
}


button{
  padding: 8px 12px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 3px solid #000;
  border-radius: 30px;
  cursor: pointer;
  margin: 0px 2px;
}

.login button{
  width: 70px;
  margin: 5px auto;
  padding: 5px 2px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
.login button:hover{
  background-color: #fff;
  color: #000;
}
.login p{
  margin: 1px auto;
  transition: all 0.3s;
}
.login p a:hover{
  color:#e1e1e1;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.top .searchBar{
  padding: 10px;
  padding-right: 30px;
  margin: 10px 30px;
}
.top .searchBar input{
  width: 500px;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 3px;
  border: 1px solid #acacac;
  border-radius: 30px;
  font-size: 18px;
}
.top .add button{
  font-size: 16px;
  padding: 10px 15px;
  margin: 30px;
  background-color: #000;
  color: white;
  border: 3px solid #000;
  border-radius: 30px;
  cursor: pointer;
}
.add-product{
  height: 350px;
}
.add-product .input-fields{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  margin: 30px 80px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  gap: 10px;
}
.add-product .input-fields input{
  font-size: 17px;
  padding: 5px 15px;
  border: 1px solid #acacac;
  border-radius: 30px;
  flex: 25%;
}
.add-product .buttons{
  display: flex;
  float: right;
  column-gap: 10px;
  padding: 10px;
  margin: 10px;
  margin-right: 100px;
}
.add-product .buttons button{
  padding: 8px 15px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 3px solid #000;
  border-radius: 30px;
  cursor: pointer;
}
.products {
  width: 1100px;
}
.products table{
  width: 100%;
  margin: 10px 100px;
}
.products table thead{
  font-size: 15px;
  background-color: black;
  color: white;
}
.products table thead th {
  padding: 10px 0px;
}
.products table tbody tr td{
  font-size: 15px;
  padding: 10px 0px;
  text-align: center;
}

.products table tbody tr td button{
  font-size: 12px;
}

.products table tbody tr:nth-child(2n) td{
  background-color: #f1efef;
}
.products table tbody tr:nth-child(2n+1) td{
  background-color: #dfdfdf;
}
.no-prod{
  width: 99.7%;
  margin: 0px 102px;
  text-align: center;
  background-color: #f1efef;
  font-size: 18px;
  padding: 10px 0px;
  margin-top: -11px;
}

.import {
  float: right;
  margin: 10px 0px;
  margin-right: 30px;
}

.customerField{
  display: flex;
  margin: 10px 100px;
  gap: 50px;
}
.customerField select{
  border: 1px solid #acacac;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.customerField .new-customer input{
  font-size: 15px;
  padding: 8px 15px;
  border: 1px solid #acacac;
  border-radius: 30px;
  width: 140px;
  margin-right: 10px;
}

.search .searchBar input{
  font-size: 15px;
  padding: 10px 15px;
  margin-right: 10px;
  width: 400px;
  border: 1px solid #acacac;
  border-radius: 20px;
}
.search .searchResults{
  position: absolute;
  width: 400.5px;
  border: 1px solid #acacac;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: none;
  margin-top: -16.5px;
  padding: 20px 15px;
  padding-top: 40px;
  max-height: 100px;
  overflow-y: auto;
}

.search .searchResults::-webkit-scrollbar {
  width: 12px;
}

.search .searchResults::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 6px rgba(0,0,0, 0.1);
  border-radius: 10px;
}

.search .searchResults::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

.search .searchResults .searchLine{
  font-size: 20px;
  padding: 10px 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.search .searchResults .searchLine:hover{
  background-color: rgb(47, 154, 224);
  color: #fff;
}

.search .searchResults .no-search {
  font-size: 20px;
  padding: 10px 5px;
}
